/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #333;
    font-size: 1rem;
}

section {
    height: 40vw;
    width: 100%;
}

main {
    margin-top: 85px;
    background-color: #F3EFF5;
}


/* Header */
 
.header{
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color:#454955;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header-image img {
    width: 190px;
    overflow: hidden;
}

nav a {
    font-weight: 600;
    margin-left: 50px;
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in-out;
    color: #F3EFF5;
}

nav a:hover {
    color: hsl(85, 72%, 50%);
}

nav a::before {
    content: '';
    position: absolute;
    top: 26px;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: #72b01d;
    transition: all 0.3s ease-in-out;
}

nav a:hover::before {
    width: 100%;
}

/* Check boxes */

#check{ 
    display: none;
}

.icons{ 
    position: absolute;
    right: 5%;
    cursor: pointer;
    display: none;
}

i {
    font-size: 2.8rem;
    color: #fff;
}

/* Banner */

.banner {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: #454955;
    align-content: center;
}

.banner-text {
    justify-self: center;
    align-self: center;
    grid-row: 1 / span 3;
    margin-left: 40px;
    width: 450px; 
}

.banner-text h1 { 
    font-size: 2.5rem;
    color: #F3EFF5;
}

.banner-text p {
    font-size: 1.2rem;
    width: 100%;
    margin: 20px 0;
    color: #F3EFF5;
}

.banner-img {
    margin: 0 auto;
    align-self: center;
    grid-row: 1 / span 3;
    grid-column: 2;
}

.banner-img img{
    width: 500px;
    height: 500px;
}

button:not(.foot-btn) {
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    background-color: #72b01d;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
    color: #F3EFF5;
}

button:hover:not(.foot-btn) {
    background-color: hsl(85, 72%, 30%);
    cursor: pointer;
    
}


/* Code section */

.code {
    padding: 120px 10px 20px;
    height: 25vw;
    position: relative;
    background-color: #72b01d;
}

/* Header */

.code-head h1 {
    position: absolute;
    top: 40px;
    left: 105px;
    font-size: 1.5rem;
    color: #F3EFF5;
}

.code-head h1::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 40%;
    height: 6px;
    background-color: #454955;
}

/* Container */

.code-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Card */

.code-card {
    display: flex;
    align-items: center;
    width: 300px;
    background-color: #454955;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in;
    color: #454955;
}

.code-card:hover {
    cursor: pointer;
    background-color: #F3EFF5;
    
}

/* Image */

.code-card img {
    width: 50px;
    height: 50px;
}

.code-card h1 {
    margin-left: 20px;
    font-size: 1.2rem;
    color: #F3EFF5;
    transition: all 0.2s ease-in-out;
}

.code-card h1 i {
    margin-left: 5px;
    font-size: 1.2rem;
    color: #F3EFF5;
    transition: all 0.2s ease-in-out;
}

.code-card:hover h1, .code-card:hover h1 i {
    color: #454955;
}


.code-card:nth-child(8) h1{
    margin-left: 5px;
    transition: all 0.2s ease;
}
 
.code-card:nth-child(8):hover h1{
    padding-left: 5px;
}





/* Roadmap */

.roadmap {
    width: 100%;
    height: 50vw;
}

/* Header */

.road-head {
    margin: 40px 105px;
}

.road-head h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    position: relative;
}

.road-head h1::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 5%;
    height: 6px;
    background-color: #72B01D;
}

.road-head p {
    width: 95%;
}

/* Container */

.road-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 80px;
}

/* Card */

.road-card {
    width: 400px;
    height: 550px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom,#F3EFF5 30%, #72B01D 70%, #3F7D20);
    margin-right: 20px;
    margin-left: 20px;
}

/* Text */

.road-text{
    margin-top: 20px;
    width: 100%;
    padding: 20px;
}

.road-text h1 {
    font-size: 1.3rem;
}

.road-text h2,
.road-text h2 i {
    color: #333;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
}

.road-text h2:hover {
    margin-left: 10px;
    color: #F3EFF5;
    cursor: pointer;
}

.road-text h2 i {
    margin-left: 5px;
}

.road-text h2:hover i {
    margin-left: 4px;
    color: #F3EFF5;
}


.road-text p {
    margin: 30px 0px ;
}

.hidden {
    display: none;
}

.road-text .small{
    display: none;
}

/* Image */

.road-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.road-img img {
    width: 250px;
    height: 270px;
    margin: 0 auto;
}

.road-card:nth-child(2) .road-img img {
    width: 300px;
    height: 300px;
}



/* Events */

.events{
    width: 100%;
    height: 50vw;
}

/* Header */

.event-head {
    margin: 40px 105px;

}

.event-head h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    position: relative;
}

.event-head h1::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 5%;
    height: 6px;
    background-color: #72B01D;
}

/* Container */

.event-container {
    height: 75%;
    width: 90%;
    margin: -40px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Card */

.event-card {
    width: 750px;
    height: 450px;
    margin: 20px;
    background-color: hsl(280, 23%, 90%);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    border-radius: 20px;   
}

.event-card .hide{
    display: none;
}

/* top */

.top {
    height: 55%;
    width: 100%;
    display: flex;
    padding: 20px 10px;
}

/* card image */

.card-img {
    margin-right: 15px;
}

/* card head */

.card-head h2{ 
    font-size: 1.3rem;   
}

.card-head h4 { 
    margin-bottom: 10px;
}

.line {
    height: 2.5px;
    width: 100%;
    background-color: #72B01D;
    margin: 10px 0;
}

.card-head p {
    margin-bottom: 20px;
}

.card-head span { 
    color: #72B01D;
}


.card-img button {
    width: 100%;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 4px;
    margin-top: 5px;
}

/* Card Content */

.card-content{
    padding: 20px;
}

.small{
    display: none;
}

.card-content h2,
.card-content h2 i {
    margin-top: 15px;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}

.card-content h2:hover {
    margin-left: 10px;
    color: #72B01D;
    cursor: pointer;
}

.card-content h2 i {
    margin-left: 5px;
    color: #454955;
}

.card-content h2:hover i {
    margin-left: 4px;
    color: #72B01D;
}

/* About */

.about {
    height: 25vw;
    position: relative;
    background-color: #72b01d;
    margin-top: -130px;
    display: flex;
    align-items: center;
}

/* Header */

.about-text {
    width: 40%;
    margin-top: 20px;
    color: #F3EFF5;
    text-align: left;
}

.about-text h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    position: relative;
}

.about-text h1::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 10%;
    height: 6px;
    background-color: #454955;
}

/* container */

.about-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

/* images */

.about-img {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-img img{
    height: 320px;
    width: 320px;
}

/* text */

.about-text p {
    margin: 50px 0px;
    font-size: 1.2rem;
    text-align: left;
}

.about-text h2,
.about-text h2 i {
    margin-top: 15px;
    color: #333;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}

.about-text h2:hover {
    margin-left: 10px;
    color: #F3EFF5;
    cursor: pointer;
}

.about-text h2 i {
    margin-left: 5px;
}

.about-text h2:hover i {
    margin-left: 4px;
    color: #F3EFF5;
}

/* footer */

footer {
    height: 25vw;
    background-color: #454955;
    padding: 40px 0;
}

.foot-contain{ 
  max-width: 100%;
  margin: auto 50px;
}

.foot-row{ 
  display: flex;
  flex-wrap: wrap;
}

.foot-row-h{
    display: none;
}

.social-links-hidden {
    display: none;
}

.footer-col li{
  list-style: none ;
}

.footer-col{ 
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #F3EFF5;
  margin-bottom: 35px;
  position: relative;
  font-weight: 500;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background: #72B01D;
  height: 3px;
  width: 50px;
  box-sizing: border-box;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 1.2rem;
  text-decoration: none;
  color: #bbbbbb;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #F3EFF5;
  padding-left: 8px;
}

.footer-col .social-links a i{ 
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #454955;
  margin: 0 10px 10px 0;
  line-height: 0px;
  border-radius: 50%;
  color: hsl(85, 72%, 95%);
  font-size: 1.3rem;
  position: relative;
  transition: all 0.5s ease;
  text-decoration: none;
}

.footer-col .social-links a i:hover{
  color: #454955;
  background: #F3EFF5;
}

.footer-col .social-links a i{
  font-size: 1.5rem;
}



/* BreakPoints */
/* xxs */
@media screen and (max-width: 450px) {
    body {
        position: relative;
        top: -35px;
        margin-bottom: -40px;
    }
    /* Header */
    .header{
        height: 50px;
        position: fixed;
        top: 0;
    }

    .header-image{
        position: absolute;
        left: 35%;
    }

    .header-image img{
        width: 65%;
    }
    
    /* navbar */

    
    .icons{ 
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{ 
        display: none;
    }

    .icons #close-icon{ 
        display: none;
    }
    

    #check:checked~.icons #close-icon{ 
        display: block;
    }

    nav{ 
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 0%;
        background: #454955;
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked~ nav{
        height: 14.5rem;
    }
       
    
    nav a{ 
        display: block;
        margin: 1.3rem 0;
        font-size: 0.90rem;
        text-align: center;
        transform: translateY(-50px) ;
        opacity: 0;
        transition: 0.3s ease;
    }

    nav a:hover {
        color: hsl(85, 72%, 60%);
    }

    nav a::before{
        display: none;
    }

    #check:checked~ nav a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.10s * var(--i));
    }

    /* Banner */
    .banner{ 
        height: 300px;
    }
    .banner-text {
        width: 90%;
        padding: 10px;
    }
    
    .banner-text h1 {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    
    .banner-text p {
        display: none;
    }
    
    .banner-text button {
        font-size: 0.80rem;
        max-width: 80%;
        padding: 7px;
    }
    
     .banner-img img {
        max-width: 65%;
        margin-left: 40px;
        height: auto;
    }
    
    /* code */
    
    .code {
        height: 45%;
        padding-bottom: 2px;
    }
    
    .code-head h1 {
        font-size: 1rem;
        top: 15px;
    }
    
    .code-container{
        width: 100%;
        margin-top: -60px;
        padding: 20px;
        height: 100%;
    }
    
    .code-card {
        height: 48px;
        width: 190px;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .hide {
        display: none;
    }

    .code-card img {
        width: 25px;
        height: 25px;
    }
    
    .code-card h1 {
        font-size: 0.80rem;
    }
    
    .code-card h1 i {
        font-size: 0.80rem;
    }
    
    
    /* roadmap */
    .road-head{
        margin: 30px 105px;
    
    }
    .road-head h1 {
        font-size: 1rem;
    }

    .road-head p{
        display: none;
    }
    
    .road-container {
        padding: 20px;
        margin: -20px auto;
        flex-direction: column;
    }
    
    .road-card {
        height: 200px;
        width: 350px;
        display: inline-flex;
        background-image: none;
        background-image: linear-gradient(to right,#F3EFF5 40%, #72B01D 70%, #3F7D20);
        margin-top: 20px;
        margin-bottom: 30px;

    }
    
    .road-card:nth-child(2) .road-text {
        padding-top: 50px;
    }
    
    
    .road-img {
        width: 80%;
        margin: 0 auto;
    }
    
    .road-img img {
        width: 120px;
        height: 120px;
    }
    
    .road-card:nth-child(2) .road-img img {
        width: 110px;
        height: 110px;
    }
    
    .road-text {
        margin-top: -30px;
    }
    
    .road-text h1 {
        margin-top: 30px;
        font-size: 0.85rem;
        margin-bottom: -10px;
    }
    
    .road-text p:not(.hidden) {
        display: none;
    }

    .hidden{
        display: block;
        font-size: 0.80rem;
    }
    
    
    .road-container .road-card .road-text h2{
        margin-top: -10px;
        height: 100px;
        font-size: 0.80rem;
    }
    
    /* events */
    .events {
        min-height: 180vh;
        height: auto;
        position: relative;
        margin-top: 600px;
        margin-bottom: -300px;
    }
    
    .event-head{
        height: 80px;
    }
    
    .event-head h1{ 
        font-size: 1rem;
    }
    
    .event-container{
        height: 67%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: -60px;
    }
    
    .event-card {
        height: 350px;
        width: 75%;
    }
    
    .card-img{
        display: flex;
        flex-direction: column;
    }
    
    .card-img img {
        width: 70px;
        margin: 0 auto;
    }
    
    .card-img button {
        margin-top: 10px;
        font-size: 1rem;
    }
    
    .card-head { 
        height: 50%;
    }

    .card-head h2{
        font-size: 0.90rem;
    }

    .card-head h4{
        font-size: 0.90rem;
    }
    
    
    .card-head p {
        display: none;
    }

    .event-card .hide{
        display: block;
        font-size: 0.85rem;
        height: 80px;
    }
    
    .card-head span{
        font-size: 0.85rem;
        
        margin-top: 100px;
        width: 100%;
    }
    
    .card-content {
        margin-top: -20px;
    }
    
    .small{
        display: none;
    }
    
    .card-content p {
        display: none;
    }
    
    .card-content h2 {
        font-size: 0.80rem;
        margin-top: 105px;
    }
    
    /* About */
    .about {
        height: auto;
        min-height: 100px;
    }
    
    .about-container {
        margin-top: -20px;
    }
    
    .about-img{
        display: flex;
        align-content: center;
        margin-top: 20px;
    }
    
    .about-img img {
        width: 150px;
        height: 150px;
    }
    
    .about-text h1 {
        font-size: 1.5rem;
        margin-top: 20px;
    }
    
    .about-text p:not(.hidden) {
        display: none;
    }

    .about-text .hidden{
        display: none;
    }

    
    
    .about-text h2,
    .about-text h2 i {
        margin-top: 20px;
        font-size: 1rem;
    }
    
    /* footer */
    
    /* Old Footer */
    footer {
       padding: 20px 0;
       height: 28vw;
    }
    
    .footer-col h4 {
        display: none;
    }
    
    .footer-col ul li a {
        display: none;
    }
    
    .footer-col .social-links a i {
        display: none;
    }
    
     /* new footer */

     footer {
        height: 200px;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: -30px;
     }

    .foot-row-h{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
    margin-left: -60px;
  }
  
  .social-links-hidden {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F3EFF5;
      height: 70px;
      margin-top: -20px;
      margin-bottom: 10px;
  }

  .social-links-hidden a i {
    font-size: 1.5rem;
    color: #F3EFF5;
    margin-right: 25px;
    margin-left: 25px;
    height: 45px;
    border-radius: 50%;
    width: 45px;
    background-color: #454955;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .social-links-hidden a i:hover {
    background-color: #F3EFF5;
    color: #454955;
  }
  
  .footer-col-h li{
    list-style: none ;
  }
  
  .footer-col-h{ 
    width: 30%;
    margin: 0 auto;
  }

  .foot-btn{
    width: 200px;
    background-color: transparent;
    color: #F3EFF5;
    border: none;
    cursor: pointer;
  }

  .foot-btn button {
    font-size: 0.80rem;
  }

  .foot-btn h2{
    color: #F3EFF5;
    margin-top: 20px;
    transition: all 0.3s ease;
    margin-left: 5px;
    font-size: 0.76rem;
  }

  .foot-btn h2 i {
    font-size: 0.80rem;
    margin-left: 5px;
  }

  .foot-btn:active h2 {
    padding-left: 15px;
  }

  
  .footer-col-h ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col-h ul li a{
    font-size: 0.95rem;
    text-decoration: none;
    color: #bbbbbb;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col-h ul li a:hover{
    color: #F3EFF5;
    padding-left: 8px;
  }

}


/* xs */
@media screen and (min-width: 451px) and (max-width: 576px) { 
    body {
        position: relative;
        top: -40px;
        margin-bottom: -40px;
    }
    /* Header */
    .header{
        height: 50px;
        position: fixed;
        top: 0;
    }

    .header-image{
        position: absolute;
        left: 35%;
    }

    .header-image img{
        width: 65%;
    }
    
    /* navbar */

    
    .icons{ 
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{ 
        display: none;
    }

    .icons #close-icon{ 
        display: none;
    }
    

    #check:checked~.icons #close-icon{ 
        display: block;
    }

    nav{ 
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 0%;
        background: #454955;
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked~ nav{
        height: 14.5rem;
    }
       
    
    nav a{ 
        display: block;
        margin: 1.3rem 0;
        font-size: 0.90rem;
        text-align: center;
        transform: translateY(-50px) ;
        opacity: 0;
        transition: 0.3s ease;
    }

    nav a:hover {
        color: hsl(85, 72%, 60%);
    }

    nav a::before{
        display: none;
    }

    #check:checked~ nav a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.10s * var(--i));
    }

    /* Banner */
    .banner-text {
        width: 90%;
        padding: 10px;
    }
    
    .banner-text h1 {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    
    .banner-text p {
        display: none;
    }
    
    .banner-text button {
        font-size: 0.80rem;
        max-width: 80%;
        padding: 7px;
    }
    
     .banner-img img {
        max-width: 65%;
        margin-left: 40px;
        height: auto;
    }
    
    /* code */
    
    .code {
        height: 45%;
        padding-bottom: 2px;
    }
    
    .code-head h1 {
        font-size: 1rem;
        top: 15px;
    }
    
    .code-container{
        width: 100%;
        margin-top: -60px;
        padding: 20px;
        height: 100%;
    }
    
    .code-card {
        height: 48px;
        width: 190px;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .hide {
        display: none;
    }

    .code-card img {
        width: 25px;
        height: 25px;
    }
    
    .code-card h1 {
        font-size: 0.80rem;
    }
    
    .code-card h1 i {
        font-size: 0.80rem;
    }
    
    
    /* roadmap */
    .road-head{
        margin: 30px 105px;
    
    }
    .road-head h1 {
        font-size: 1rem;
    }

    .road-head p{
        display: none;
    }
    
    .road-container {
        padding: 20px;
        margin: -20px auto;
        flex-direction: column;
    }
    
    .road-card {
        height: 200px;
        width: 350px;
        display: inline-flex;
        background-image: none;
        background-image: linear-gradient(to right,#F3EFF5 40%, #72B01D 70%, #3F7D20);
        margin-top: 20px;
        margin-bottom: 30px;

    }
    
    .road-card:nth-child(2) .road-text {
        padding-top: 50px;
    }
    
    
    .road-img {
        width: 80%;
        margin: 0 auto;
    }
    
    .road-img img {
        width: 120px;
        height: 120px;
    }
    
    .road-card:nth-child(2) .road-img img {
        width: 110px;
        height: 110px;
    }
    
    .road-text {
        margin-top: -30px;
    }
    
    .road-text h1 {
        margin-top: 30px;
        font-size: 0.85rem;
        margin-bottom: -10px;
    }
    
    .road-text p:not(.hidden) {
        display: none;
    }

    .hidden{
        display: block;
        font-size: 0.80rem;
    }
    
    
    .road-container .road-card .road-text h2{
        margin-top: -10px;
        height: 100px;
        font-size: 0.80rem;
    }
    
    /* events */
    .events {
        min-height: 180vh;
        height: auto;
        position: relative;
        margin-top: 600px;
        margin-bottom: -300px;
    }
    
    .event-head{
        height: 80px;
    }
    
    .event-head h1{ 
        font-size: 1rem;
    }
    
    .event-container{
        height: 67%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: -60px;
    }
    
    .event-card {
        height: 350px;
        width: 75%;
    }
    
    .card-img{
        display: flex;
        flex-direction: column;
    }
    
    .card-img img {
        width: 70px;
        margin: 0 auto;
    }
    
    .card-img button {
        margin-top: 10px;
        font-size: 1rem;
    }
    
    .card-head { 
        height: 50%;
    }

    .card-head h2{
        font-size: 0.90rem;
    }

    .card-head h4{
        font-size: 0.90rem;
    }
    
    
    .card-head p {
        display: none;
    }

    .event-card .hide{
        display: block;
        font-size: 0.85rem;
        height: 80px;
    }
    
    .card-head span{
        font-size: 0.85rem;
        
        margin-top: 100px;
        width: 100%;
    }
    
    .card-content {
        margin-top: -20px;
    }
    
    .small{
        display: none;
    }
    
    .card-content p {
        display: none;
    }
    
    .card-content h2 {
        font-size: 0.80rem;
        margin-top: 105px;
    }
    
    /* About */
    .about {
        height: auto;
        min-height: 100px;
    }
    
    .about-container {
        margin-top: -20px;
    }
    
    .about-img{
        display: flex;
        align-content: center;
        margin-top: 20px;
    }
    
    .about-img img {
        width: 150px;
        height: 150px;
    }
    
    .about-text h1 {
        font-size: 1.5rem;
        margin-top: 20px;
    }
    
    .about-text p:not(.hidden) {
        display: none;
    }

    .about-text .hidden{
        display: none;
    }

    
    
    .about-text h2,
    .about-text h2 i {
        margin-top: 20px;
        font-size: 1rem;
    }
    
    /* footer */
    
    /* Old Footer */
    footer {
       padding: 20px 0;
       height: 28vw;
    }
    
    .footer-col h4 {
        display: none;
    }
    
    .footer-col ul li a {
        display: none;
    }
    
    .footer-col .social-links a i {
        display: none;
    }
    
     /* new footer */

     footer {
        height: 200px;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: -30px;
     }

    .foot-row-h{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
    margin-left: -60px;
  }
  
  .social-links-hidden {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F3EFF5;
      height: 70px;
      margin-top: -20px;
      margin-bottom: 10px;
  }

  .social-links-hidden a i {
    font-size: 1.5rem;
    color: #F3EFF5;
    margin-right: 25px;
    margin-left: 25px;
    height: 45px;
    border-radius: 50%;
    width: 45px;
    background-color: #454955;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .social-links-hidden a i:hover {
    background-color: #F3EFF5;
    color: #454955;
  }
  
  .footer-col-h li{
    list-style: none ;
  }
  
  .footer-col-h{ 
    width: 30%;
    margin: 0 auto;
  }

  .foot-btn{
    width: 200px;
    background-color: transparent;
    color: #F3EFF5;
    border: none;
    cursor: pointer;
  }

  .foot-btn button {
    font-size: 0.80rem;
  }

  .foot-btn h2{
    color: #F3EFF5;
    margin-top: 20px;
    transition: all 0.3s ease;
    margin-left: 5px;
    font-size: 0.76rem;
  }

  .foot-btn h2 i {
    font-size: 0.80rem;
    margin-left: 5px;
  }

  .foot-btn:active h2 {
    padding-left: 15px;
  }

  
  .footer-col-h ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col-h ul li a{
    font-size: 0.95rem;
    text-decoration: none;
    color: #bbbbbb;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col-h ul li a:hover{
    color: #F3EFF5;
    padding-left: 8px;
  }

    
}


/* sm */
@media screen and (min-width: 577px) and (max-width: 768px) {
    /* Whole page */
    html {
        overflow-x: hidden;
    }

    body {
        position: relative;
        top: -30px;
    }

    /* Header */
    .header{
        height: 60px;
        position: fixed;
        top: 0;
    }

    .header-image{
        position: absolute;
        left: 35%;
    }

    .header-image img{
        width: 75%;
    }
    
    /* navbar */

    
    .icons{ 
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{ 
        display: none;
    }

    .icons #close-icon{ 
        display: none;
    }
    

    #check:checked~.icons #close-icon{ 
        display: block;
    }

    nav{ 
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 0%;
        background: #454955;
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked~ nav{
        height: 14.5rem;
    }
       
    
    nav a{ 
        display: block;
        margin: 1.3rem 0;
        font-size: 0.90rem;
        text-align: center;
        transform: translateY(-50px) ;
        opacity: 0;
        transition: 0.3s ease;
    }

    nav a:hover {
        color: hsl(85, 72%, 60%);
    }

    nav a::before{
        display: none;
    }

    #check:checked~ nav a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.10s * var(--i));
    }
    
    /* Banner */
    .banner-text {
        width: 90%;
        padding: 10px;
    }
    
    .banner-text h1 {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }
    
    .banner-text p {
        display: none;
    }
    
    .banner-text button {
        font-size: 0.95rem;
        max-width: 80%;
        padding: 7px;
    }
    
     .banner-img img {
        max-width: 65%;
        margin-left: 60px;
        height: auto;
    }
    
    /* code */
    
    .code {
        height: 45%;
        padding-bottom: 2px;
    }
    
    .code-head h1 {
        font-size: 1.05rem;
        top: 15px;
    }
    
    .code-container{
        width: 100%;
        margin-top: -40px;
        padding: 20px;
        height: 100%;
    }
    
    .code-card {
        height: 60px;
        width: 280px;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .code-container .hide {
        display: none;
    }

    .code-card img {
        width: 35px;
        height: 35px;
    }
    
    .code-card h1 {
        font-size: 1rem;
    }
    
    .code-card h1 i {
        font-size: 1rem;
    }
    
    
    /* roadmap */
    .road-head{
        margin: 30px 105px;
    
    }
    .road-head h1 {
        font-size: 1.05rem;
    }

    .road-head p{
        display: none;
    }
    
    .road-container {
        padding: 20px;
        margin: -20px auto;
        flex-direction: column;
    }
    
    .road-card {
        height: 200px;
        width: 500px;
        display: inline-flex;
        background-image: none;
        background-image: linear-gradient(to right,#F3EFF5 40%, #72B01D 70%, #3F7D20);
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .road-card:nth-child(2) .road-text {
        padding-top: 50px;
    }
    
    
    .road-img {
        width: 80%;
        margin: 0 auto;
    }
    
    .road-img img {
        width: 150px;
        height: 170px;
    }
    
    .road-card:nth-child(2) .road-img img {
        width: 160px;
        height: 160px;
    }
    
    .road-text {
        margin-top: -20px;
    }
    
    .road-text h1 {
        margin-top: 30px;
        font-size: 1.1rem;
        margin-bottom: -10px;
    }
    
    .road-text p:not(.hidden) {
        display: none;
    }

    .hidden{
        display: block;
    }
    
    
    .road-container .road-card .road-text h2{
        margin-top: -10px;
        height: 100px;
    }
    
    /* events */
    .events {
        min-height: 180vh;
        height: auto;
        position: relative;
        margin-top: 500px;
    }
    
    .event-head{
        height: 80px;
    }
    
    .event-head h1{ 
        font-size: 1.05rem;
    }
    
    .event-container{
        height: 67%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: -60px;
    }
    
    .event-card {
        height: 350px;
        width: 70%;
    }
    
    .card-img{
        display: flex;
        flex-direction: column;
    }
    
    .card-img img {
        width: 100px;
        margin: 0 auto;
    }
    
    .card-img button {
        margin-top: 10px;
        font-size: 1rem;
    }
    
    .card-head { 
        height: 50%;
    }
    
    
    .card-head p {
        height: 85px;
        font-size: 0.90rem;
        margin-bottom: 30px;
        width: 100%;
    }
    
    .card-head span{
        font-size: 0.90rem;
        margin-left: 0px;
        margin-top: 100px;
    }
    
    .card-content {
        margin-top: -20px;
    }
    
    .small{
        display: none;
    }
    
    .card-content p {
        display: none;
    }
    
    .card-content h2 {
        font-size: 0.95rem;
        margin-top: 105px;
    }
    
    /* About */
    .about {
        height: auto;
        min-height: 300px;
    }
    
    .about-container {
        margin-top: -20px;
    }
    
    .about-img{
        display: flex;
        align-content: center;
        margin-top: 30px;
    }
    
    .about-img img {
        width: 220px;
        height: 220px;
    }
    
    .about-text h1 {
        font-size: 1.05rem;
    }
    
    .about-text p:not(.hidden) {
        display: none;
    }

    .about-text .hidden{
        font-size: 0.90rem;
    }

    
    
    .about-text h2,
    .about-text h2 i {
        margin-top: -6px;
        font-size: 1rem;
    }
    
    /* footer */
    
    /* Old Footer */
    footer {
       padding: 20px 0;
       height: 28vw;
    }
    
    .footer-col h4 {
        display: none;
    }
    
    .footer-col ul li a {
        display: none;
    }
    
    .footer-col .social-links a i {
        display: none;
    }
    
     /* new footer */

     footer {
        height: 200px;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: -30px;
     }

    .foot-row-h{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
    margin-left: -30px;
  }
  
  .social-links-hidden {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F3EFF5;
      height: 70px;
      margin-top: -20px;
      margin-bottom: 10px;
  }

  .social-links-hidden a i {
    font-size: 1.5rem;
    color: #F3EFF5;
    margin-right: 25px;
    margin-left: 25px;
    height: 45px;
    border-radius: 50%;
    width: 45px;
    background-color: #454955;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .social-links-hidden a i:hover {
    background-color: #F3EFF5;
    color: #454955;
  }
  
  .footer-col-h li{
    list-style: none ;
  }
  
  .footer-col-h{ 
    width: 30%;
    margin: 0 auto;
  }

  .foot-btn{
    width: 200px;
    background-color: transparent;
    color: #F3EFF5;
    border: none;
    cursor: pointer;
  }

  .foot-btn button {
    font-size: 0.90rem;
  }

  .foot-btn h2{
    color: #F3EFF5;
    margin-top: 20px;
    transition: all 0.3s ease;
    margin-left: 10px;
    font-size: 0.85rem;
  }

  .foot-btn h2 i {
    font-size: 0.80rem;
    margin-left: 5px;
  }

  .foot-btn:active h2 {
    padding-left: 15px;
  }

  
  .footer-col-h ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col-h ul li a{
    font-size: 0.95rem;
    text-decoration: none;
    color: #bbbbbb;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col-h ul li a:hover{
    color: #F3EFF5;
    padding-left: 8px;
  }

    
    
    
 }


/* md */
@media screen and (min-width: 769px) and (max-width: 992px) {

/* navbar */

.icons{ 
    display: inline-flex;
}

#check:checked~.icons #menu-icon{ 
    display: none;
}

.icons #close-icon{ 
    display: none;
}


#check:checked~.icons #close-icon{ 
    display: block;
}

nav{ 
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 0%;
    background: #454955;
    overflow: hidden;
    transition: 0.3s ease;
}

#check:checked~ nav{
    height: 16rem;
}
   

nav a{ 
    display: block;
    margin: 1.3rem 0;
    font-size: 1.1rem;
    text-align: center;
    transform: translateY(-50px) ;
    opacity: 0;
    transition: 0.3s ease;
}

nav a:hover {
    color: hsl(85, 72%, 60%);
}

nav a::before{
    display: none;
}

#check:checked~ nav a{
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.10s * var(--i));
}
   

/* banner */
.banner-text {
    width: 90%;
    padding: 10px;
}

.banner-text h1 {
    font-size: 1.8rem;
}

.banner-text p {
    font-size: 1rem;
}

.banner-text button {
    font-size: 1rem;
    padding: 7px;
}

 .banner-img img {
    max-width: 78%;
    margin-left: 60px;
    height: auto;
}

/* code */

.code {
    height: 45%;
    padding-bottom: 2px;
}

.code-head h1 {
    font-size: 1.2rem;
    top: 15px;
}

.code-container{
    width: 100%;
    margin-top: -40px;
    padding: 20px;
    height: 100%;
}

.code-card {
    height: 60px;
    width: 280px;
    margin-right: 20px;
    margin-left: 20px;
}

.code-card img {
    width: 35px;
    height: 35px;
}

.code-card h1 {
    font-size: 1rem;
}

.code-card h1 i {
    font-size: 1rem;
}


/* roadmap */
.road-head{
    margin: 30px 105px;

}
.road-head h1 {
    font-size: 1.2rem;
}

.road-container {
    padding: 20px;
    margin: -20px auto;
    flex-direction: column;
}

.road-card {
    height: 300px;
    width: 600px;
    display: inline-flex;
    background-image: none;
    background-image: linear-gradient(to right,#F3EFF5 40%, #72B01D 70%, #3F7D20);
    margin-top: 20px;
    margin-bottom: 30px;
}

.road-card:nth-child(2) .road-text {
    padding-top: 50px;
}


.road-img {
    width: 80%;
    margin: 0 auto;
}

.road-img img {
    width: 240px;
    height: 260px
}

.road-card:nth-child(2) .road-img img {
    width: 250px;
    height: 250px;
}

.road-text {
    margin-top: -20px;
}

.road-text h1 {
    margin-top: 30px;
    font-size: 1.1rem;
}

.road-text p {
    height: 100px;
    margin: 20px 0px;
    position: relative;
    font-size: 0.95rem;
}


.road-container .road-card .road-text h2{
    margin-top: 65px;
    height: 150px;
}

/* events */
.events {
    min-height: 180vh;
    height: auto;
    position: relative;
    margin-top: 860px;
}

.event-head{
    height: 80px;
}

.event-head h1{ 
    font-size: 1.2rem;
}

.event-container{
    height: 67%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}

.event-card {
    height: 320px;
    width: 90%;
}

.card-img{
    display: flex;
    flex-direction: column;
}

.card-img img {
    width: 100px;
    margin: 0 auto;
}

.card-img button {
    margin-top: 10px;
    font-size: 1rem;
}

.card-head { 
    height: 50%;
}


.card-head p {
    height: 35px;
    margin-bottom: 30px;
    width: 100%;
}

.card-head span{
    margin-left: 0px;
    margin-top: -70px;
}

.card-content {
    margin-top: -20px;
}

.small{
    display: block;
    margin-top: 35px;
    width: 100%;
    font-weight: normal;
}

.card-content p {
    display: none;
}

.card-content h2 {
    font-size: 1rem;
    margin-top: 10px;
}

/* About */
.about {
    height: auto;
    min-height: 300px;
}

.about-container {
    margin-top: -20px;
}

.about-img{
    display: flex;
    align-content: center;
    margin-top: 30px;
}

.about-img img {
    width: 220px;
    height: 220px;
}

.about-text h1 {
    font-size: 1.2rem;
}

.about-text p {
    margin: 30px 0px;
    font-size: 1rem;
}

.about-text h2,
.about-text h2 i {
    margin-top: -6px;
    font-size: 1rem;
}

/* footer */

/* Old Footer */
footer {
   padding: 20px 0;
   height: 28vw;
}

.footer-col h4 {
    display: none;
}

.footer-col ul li a {
    display: none;
}

.footer-col .social-links a i {
    display: none;
}

/* new footer */

.foot-row-h{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .social-links-hidden {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F3EFF5;
      height: 90px;
      margin-top: -20px;
      margin-bottom: 10px;
  }

  .social-links-hidden a i {
    font-size: 2rem;
    color: #F3EFF5;
    margin-right: 25px;
    margin-left: 25px;
    height: 65px;
    border-radius: 50%;
    width: 65px;
    background-color: #454955;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .social-links-hidden a i:hover {
    background-color: #F3EFF5;
    color: #454955;
  }
  
  .footer-col-h li{
    list-style: none ;
  }
  
  .footer-col-h{ 
    width: 25%;
    padding: 0 15px;
  }

  .foot-btn{
    font-size: 1rem;
    width: 180px;
    background-color: transparent;
    color: #F3EFF5;
    border: none;
    cursor: pointer;
  }

  .foot-btn h2{
    color: #F3EFF5;
    margin-top: 20px;
    transition: all 0.3s ease;
    margin-left: 10px;
  }

  .foot-btn h2 i {
    font-size: 1rem;
    margin-left: 5px;
  }

  .foot-btn:active h2 {
    padding-left: 15px;
  }

  
  .footer-col-h ul li:not(:last-child){
    margin-bottom: 10px;
  }
  
  .footer-col-h ul li a{
    font-size: 0.95rem;
    text-decoration: none;
    color: #bbbbbb;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col-h ul li a:hover{
    color: #F3EFF5;
    padding-left: 8px;
  }





} 




/* lg */
@media screen and (min-width: 993px) and (max-width: 1200px) { 
    
    /* banner */
    .banner-text h1 {
        font-size: 2.2rem;
    }

    .banner-text p {
        font-size: 1rem;
    }

    .banner-text button {
        font-size: 1.1rem;
    }

     .banner-img img {
        max-width: 78%;
        margin-left: 60px;
        height: auto;
    }

    /* code */

    .code {
        height: 28vw;
    }

    .code-head h1 {
        font-size: 1.35rem;
        top: 30px;
    }

    .code-container{
        width: 92%;
        margin: 0 auto;
        
    }

    .code-card {
        height: 60px;
        width: 200px;
    }

    .code-card img {
        width: 40px;
        height: 40px;
    }

    .code-card h1 {
        font-size: 1rem;
    }

    .code-card h1 i {
        font-size: 1rem;
    }

    
    /* roadmap */
    .road-card {
        height: 500px;
    }

    .road-head{
        margin: 30px 105px;
    }
    .road-head h1 {
        font-size: 1.35rem;
    }

    .road-container {
        padding: 20px;
        margin: -20px auto;
    }
    
    .road-img {
        width: 80%;
        margin: 0 auto;
    }

    .road-img img {
        width: 200px;
        height: 220px
    }

    .road-card:nth-child(2) .road-img img {
        width: 250px;
        height: 250px;
    }

    .road-text {
        margin-top: -20px;
    }

    .road-text h1 {
        font-size: 1.1rem;
    }

    .road-text p {
        height: 100px;
        margin: 20px 0px;
        position: relative;
        font-size: 0.95rem;
    }
    
    .road-container .road-card .road-text h2{
        margin-top: 65px;
        height: 150px;
    }

    /* events */
    .events {
        margin-top: 200px;
        height: 80vw;
        position: relative;
    }

    .event-head{
        height: 80px;
    }

    .event-head h1{ 
        font-size: 1.35rem;
    }

    .event-container{
        height: 67%;
    }

    .event-card {
        height: 550px;
    }

    .card-img img {
        width: 100px;
    }

    .card-img button {
        margin-top: 10px;
        font-size: 1rem;
    }

    .card-head { 
        height: 50%;
    }

    .card-head h2 {
        font-size: 1.1rem;
    }

    .card-head p {
        height: 100px;
        margin-bottom: 30px;
        width: 100%;
    }

    .card-head span{
        margin-left: -105px;
    }

    .card-content {
        margin-top: -20px;
    }

    .card-content p {
        height: 140px;
    }

    .card-content h2 {
        font-size: 1.1rem;
        margin-top: 40px;
    }

    /* About */
    .about {
        height: 27vw;
    }

    .about-container {
        margin-top: -20px;
    }

    .about-img img {
        width: 220px;
        height: 220px;
    }

    .about-text h1 {
        font-size: 1.35rem;
    }

    .about-text p {
        margin: 20px 0px;
        font-size: 1rem;
    }

    .about-text h2,
    .about-text h2 i {
        margin-top: -6px;
        font-size: 1.1rem;
    }

    /* footer */
    footer {
       padding: 20px 0;
       height: 28vw;
    }


    .footer-col h4 {
        font-size: 1rem;
    }

    .footer-col ul li a {
        font-size: 0.95rem;
    }

    .footer-col .social-links a i {
        font-size: 1.35rem;
        height: 35px;
        width: 35px;
    }

} 


/* xl */
@media screen and (min-width: 1201px) and (max-width: 1400px) { 
    /* banner */
    .banner-img img {
        max-width: 95%;
        height: auto;
    }

    /* code */

    .code-container{
        width: 95%;
        margin: 0 auto;
        
    }

    .code-card {
        width: 250px;
    }

    .code-card img {
        width: 40px;
        height: 40px;
    }

    .code-card h1 {
        font-size: 1.1rem;
    }

    .code-card h1 i {
        font-size: 1.1rem;
    }


    /* roadmap */


    
    .road-img {
        width: 90%;
        margin: 0 auto;
    }

    .road-text {
        margin-top: -20px;
    }

    .road-text p {
        height: 100px;
        margin: 20px 0px;
        position: relative;
    }
    
    .road-container .road-card .road-text h2{
        margin-top: 40px;
        height: 150px;
    }

    /* events */
    .card-img button {
        margin-top: 10px;
    }

    .event-head{
        height: 80px;
    }

    .card-head p {
        height: 75px;
        
    }

    .card-content {
        margin-top: -20px;
    }

    .card-content p {
        height: 140px;
    }

    .event-container{
        height: 67%;
    }

    .events {
        margin-top: 150px;
        height: 70vw;
        position: relative;
    }

    .event-card {
        height: 550px;
    }


    .card-head { 
        height: 50%;

    }

    .card-head p{
        margin-bottom: 30px;
    }
   


    /* About */

    .about-img img {
        width: 250px;
        height: 250px;
    }

    .about-text p {
        margin: 20px 0px;
    }

    .about-text h2,
    .about-text h2 i {
        margin-top: -6px;
    }

    /* footer */
    footer {
       padding: 20px 0;
    }

    .footer-col h4 {
        font-size: 1.15rem;
    }

    .footer-col ul li a {
        font-size: 1rem;
    }

}

/* xxl */
@media screen and (min-width: 1401px) {
    
}